.gallary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  & h2 {
    margin-block: 10px;
    font-size: 30px;
    color: var(--main-Color);
  }
  .imgs {
    border: 1px solid;
    width: fit-content;
    min-width: 80%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-block: 20px;
  }
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: var(--main-Color);
  border: 2px solid;
  margin-left: -20px ;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}